dist/*
build/*
node_modules/*
__tests__
setupTests.ts
.eslintrc.js
.stylelintrc.js
babel.config.js
postcss.config.js
commitlint.config.js
tsconfig.json
**/*.css
**/*.scss
**/*.less
**/*.module.css
**/*.module.scss
**/*.module.less
__unconfig_vite.config.ts
vite.config.ts
