.DS_Store
.vite-ssg-dist
.vite-ssg-temp
*.local
dist
dist-ssr
build
node_modules
.idea/
*.log
/coverage
package-lock.json
pnpm-lock.yaml
yarn.lock

playground/dist
playground/storybook-static

__unconfig_vite.config.ts
.vercel
