.DS_Store
.vite-ssg-dist
.vite-ssg-temp
*.local
dist
dist-ssr
docs/docs/.vitepress/cache
build
node_modules
.idea/
*.log
/coverage
package-lock.json
pnpm-lock.yaml
yarn.lock
.env
sponsorkit
sponsorkit.config.ts
sponsorkit.config.js
sponsors.svg

src/index.css
playground/dist

__unconfig_vite.config.ts
.vercel

.vercel
