/* stylelint-disable import-notation */
@charset "UTF-8";

@use 'variables' as vars;

@keyframes #{vars.$rt-namespace}__trackProgress {
  0% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}

.#{vars.$rt-namespace}__progress-bar {
  animation: #{vars.$rt-namespace}__trackProgress linear 1 forwards;
}
