@use '../variables' as vars;

@keyframes #{vars.$rt-namespace}__zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes #{vars.$rt-namespace}__zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

.#{vars.$rt-namespace}__zoom-enter {
  animation-name: #{vars.$rt-namespace}__zoomIn;
}

.#{vars.$rt-namespace}__zoom-exit {
  animation-name: #{vars.$rt-namespace}__zoomOut;
}
