.VP-Hero {
  padding: 0 !important;
}

.VPHero {
  padding-bottom: 26px !important;
  padding-top: 86px !important;
  user-select: none;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #5672cd;
  border-color: #5672cd;
}

html.dark {
  .ant-select-selector {
    background-color: transparent !important;
    color: #fff !important;
    border-color: #5672cd !important;

    &::after {
      color: #5672cd !important;
    }
  }

  .ant-select-dropdown {
    background-color: rgba(86, 114, 205, 0.82);

    .ant-select-item {
      color: rgba(255, 255, 255, 0.85);

      &.ant-select-item-option-selected {
        &:not(.ant-select-item-option-disabled) {
          background-color: #5672cd;
        }
      }

      &.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
        background-color: rgba(86, 114, 205, 0.9);
      }
    }
  }

  .ant-select-arrow svg {
    color: #fff !important;
  }
}

.sp-layout>.sp-stack {
  min-width: 100% !important;
}

.documate-button {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: flex-start;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  transition: border-color .25s ease-in-out;
  background: #f6f6f7;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  color: rgba(60,60,67,.78);
  font-size: 13px;
  margin-left: 1.2rem;

  &:hover {
    border-color: #3451b2 !important;
  }
}

@media (prefers-color-scheme: light) {
  .hljs-meta .hljs-string,
  .hljs-regexp,
  .hljs-string {
    color: aqua !important;
  }
}
